<!DOCTYPE html>
<html>
  <head>
    <title>Twitwi | <%= yield(:title) %></title>
    <%= render "layouts/default_rails" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
